<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% cache(user, expires_in: 30.seconds) do %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
