name: RuboCop

on:
  push:
    branches:
      - main
      - develop
    paths:
      - '**/*.rb'
      - '**/*.rake'
      - 'Gemfile'
      - 'Gemfile.lock'
      - '.rubocop.yml'
      - '.rubocop_todo.yml'
      - '.github/workflows/rubocop.yml'
  pull_request:
    paths:
      - '**/*.rb'
      - '**/*.rake'
      - 'Gemfile'
      - 'Gemfile.lock'
      - '.rubocop.yml'
      - '.rubocop_todo.yml'
      - '.github/workflows/rubocop.yml'

jobs:
  rubocop:
    name: Lint Ruby
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - name: Install dependencies
        run: bundle install

      - name: Run RuboCop
        run: bundle exec rubocop
